

{% if template != 'cart' %}
<a href="/cart" class="link-to-cart {% if cart.item_count > 0 %}cart-filled{% endif %}">
        <span class="cart-text">
            {% if cart.item_count > 0 %}
                {{ 'cart.button.filled' | t }}
            {% else %}
                {{ 'cart.button.empty' | t }}
            {% endif %}
        </span>
        <span class="cart-item-count">
            {{ cart.item_count }}
        </span>
    </a>
    {% else %}
    <a href="/" class="link-to-home">{{ 'cart.button.close' | t }}</a>
{% endif %}

{% schema %}

{
    "name": "cart-link",
    "settings": [],
    "presets": []
}

{% endschema %}